
* {
    padding: 0;
    margin: 20px;
}

body {
    text-align: center;
    background-color: #333;
    color: white;
}

#content {
    width: 50vw;
    height: 400px;
    margin: 0 auto;
    box-shadow: 5px 5px 5px black;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    width: 75px;
    height: 40px;
    background-color: #333;
    color: white;
}